p{
    margin:0
}
.seller__order__card{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 20px;
}

.seller__order__card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.seller__order__card__header__details{
    display: flex;
    flex-direction: column;
}

.seller__order__card__header__details p{
    text-align: right;
}

.seller__order__card__status{
    background-color: #E5E5E5;
    font-weight: 700;
    padding: 5px 15px;
    font-size: 18px;
    margin-right: 20px;
}

.seller__order__card__header__details{
    font-size: 12px;
}

.seller__order__card__body{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.seller__order__card__body img{ 
    width: 200px;
    height: initial
}

.seller__order__card__label{
    width: 100px
}

.seller__order__card__address{
    opacity: 0.5;
    width: 200px
}

.seller__order__card__footer{
    display: flex;
    justify-content: space-between;
}
.seller__order__card__footer button{
   color: white;
   border: none;
   padding: 3px 10px
}

.seller_order_card_green_button{
    background-color: var(--green);
}

.seller_order_card_blue_button{
    background-color: var(--blue);
}