.product__card{
    border: 1px solid rgba(0,0,0,0.29);
    padding: 1rem;
    width: max-content;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.29);
    margin: 20px;
    margin-left: 0;
    border-radius: 5px;
    height:max-content;
    
}

.wishlist__icon i{
    font-size: 30px;
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}

.discount__tag{
    position: absolute;
    background-color: var(--red);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left:10px;
    top:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.discount__tag p{
    color: white;
    font-weight: 700;
    margin:0;
    font-size: 14px;
    text-align: center;
}

.wishlist__heart__open{
    color: var(--blue)
}

.wishlist__heart{
    color: var(--red)
}

.product__image img{
    width: 15rem;
    cursor: pointer;
}

p{
    margin:0
}

.product__card__details{
    margin: 10px 0;
}

.product__title{
    color: rgba(0,0,0,0.52);
    font-size: 14px;
    font-weight: 700;
}

.product__price{
    color: var(--blue);
    font-size: 20px;
    font-weight: 700;
}