body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

code {
  font-family: 'Mulish', sans-serif;
}

.bold{
  font-weight: 700;
}

.blue-text{
  color:  var(--blue);
}
.green-text{
  color:  var(--green) !important;
}
.gray-text{
  color:  var(--gray);
}


.full-height{
  height: 100%
}


.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.align-self-center{
  margin:auto;
  display: flex
}

.full-width{
  width: 100%
}

.restrict-width{
  width: max-content
}

.standard-green-btn{
  background-color: var(--green);
  border: none;
  color: white;
  font-weight: 400;
  padding: 8px 40px;
  cursor: pointer;
}

.standard-blue-btn{
  background-color: var(--blue);
  border: none;
  color: white;
  font-weight: 400;
  padding: 8px 40px;
  cursor: pointer;
}


textarea:focus, input:focus{
  outline: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.clickable{
  cursor: pointer;
}

.row{
  align-items: flex-start !important;
}

:root {
  --blue: #22577A;
  --green: #38A3A5;
  --red: #DF4E57;
  --golden: #FFD700;
  --gray: rgba(0,0,0,0.45)
}